@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  transition: 0.3s ease;
}

body {
  text-align: center;
}

#transition-overlay,
#end-screen {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 10;
  text-align: center;
  font-size: 5rem;
  color: white;
}

.go-text {
  display: none;
  transition: 0.3s ease;
}

#back-home {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  border: 1px solid white;
  padding: 5px 10px;
}

#back-home:hover {
  cursor: pointer;
}

#start-menu {
  height: 100vh;
  width: 100%;
  background-image: url("public/assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.sound-button {
  font-size: 3vh;
  margin-top: 1vh;
  background-color: transparent;
  color: white;
  border: none;
}

.sound-button:hover {
  cursor: pointer;
}

.title-text {
  margin-top: 2rem;
  font-size: 10rem;
  font-family: "Jersey 10", sans-serif;
  background: linear-gradient(90deg, #ffffff, #770575, #ffffff);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 4s linear infinite;
}

.creator-text {
  font-size: 5rem;
  margin-top: -1rem;
  font-family: "Jersey 10", sans-serif;
  background: linear-gradient(90deg, #ffffff, #430342, #ffffff);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 4s linear infinite;
  animation-delay: 0.3s;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: min-content;
  margin: 6vh auto 0;
}

#instructions,
#start-game {
  font-size: 4rem;
  border: none;
  background-color: transparent;
  width: max-content;
  color: white;
}

#instructions:hover,
#start-game:hover {
  cursor: pointer;
}

.difficulty-container {
  display: none;
}

.difficulty-selection {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  gap: 1.5rem;
}

#normal-difficulty-button:hover,
#hard-difficulty-button:hover {
  color: rgb(22, 210, 22);
  cursor: pointer;
  font-size: 3.5rem;
}

#hard-difficulty-button:hover {
  color: rgb(188, 50, 12);
}

.instructions-container {
  position: absolute;
  top: 8%;
  left: 20%;
  background-image: url("public/assets/instructions.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 84%;
  color: black;
  display: none;
  padding: 0 20px;
}

.instructions-container h4 {
  margin-top: 13vh;
  font-size: 1.5rem;
}
.instructions-container h4:last-of-type {
  margin-top: 5vh;
  font-size: 1.5rem;
}

.instructions-container p {
  margin: 0.75rem auto 0;
  font-size: 3vh;
  max-width: 80%;
}

.instructions-container hr {
  width: 50%;
  margin: 1.25rem auto;
  border: black solid 0.2vh;
}

.close-instructions {
  background-color: transparent;
  padding: 10px;
  border: none;
  color: rgb(136, 29, 29);
  font-size: 4vh;
  margin-top: 2vh;
  text-decoration: underline;
}

.close-instructions:hover {
  cursor: pointer;
}

.gamma-ray-text {
  color: rgb(232, 121, 3);
}

.shield-text {
  color: rgb(0, 42, 212);
}

.blurred-dark {
  filter: blur(3px) brightness(90%);
  transition: filter 0.3s ease;
  pointer-events: none; /* Prevent interaction while blurred */
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
}

@keyframes shine {
  0% {
    background-position: -100% center;
  }
  100% {
    background-position: 100% center;
  }
}
