@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  transition: 0.3s ease;
}

body {
  text-align: center;
}

#transition-overlay,
#end-screen {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 10;
  text-align: center;
  font-size: 5rem;
  color: white;
}

.go-text {
  display: none;
  transition: 0.3s ease;
}

#back-home {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  border: 1px solid white;
  padding: 5px 10px;
}

#back-home:hover {
  cursor: pointer;
}

#start-menu {
  height: 100vh;
  width: 100%;
  background-image: url("assets/background.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
h1 {
  margin-top: 2rem;
  font-size: 10rem;
}

h2 {
  font-size: 5rem;
  margin-top: -1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: min-content;
  margin: 7rem auto 0;
}

#instructions,
#start-game {
  font-size: 4rem;
  border: none;
  background-color: transparent;
  width: max-content;
  color: white;
}

#instructions:hover,
#start-game:hover {
  cursor: pointer;
}

.difficulty-container {
  display: none;
}

.difficulty-selection {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  gap: 1.5rem;
}

#normal-difficulty-button:hover,
#hard-difficulty-button:hover {
  color: rgb(22, 210, 22);
  cursor: pointer;
  font-size: 3.5rem;
}

#hard-difficulty-button:hover {
  color: rgb(188, 50, 12);
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
}
